.wrapper__slider {
    overflow: hidden;
    border-radius: 200px;
    align-self: center;
    width: 800px;
    margin: 50px auto;
    height: 500px;
    box-shadow: 0 40px 0 var(--third-color);

    .slider {
        display: flex;
        gap: 50px;
        position: relative;
        width: 100%;
        width: 3000px;
        transition: 0.3s all;
        background: var(--third-color);

        .slide {
            width: 500px;
            height: 500px;
            background: lightgray;
        }

        img {
            object-fit: cover;
        }
    }
    
}

.LeftButton {
    z-index: 999;
}

.navigation {
    height: 50px;
    position: absolute;
    transform: translateY(5%) translateX(130%);


    .navigation__item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        button {
            list-style: none;
            width: 15px;
            height: 15px;
            background: var(--fifth-color);
            border-radius: 100%;
            cursor: pointer;
            transition: 0.3s all;
            margin-left: 5px;
        }
      
    }
    
}